/* add root styles */
:root {
    --brat: #8ACF01;
    --black: #000000;
    --white: #FFFFFF;
    --coffee: #c0ff33;
    --badass: #b4da55;
}

div {
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-size: 6em;
    border: 10px solid var(--black);
    padding: 0.125em 0.25em;
    display: inline-block;
    width: min-content;
    width: 3.698em;
}

body {
    display: grid;
    justify-content: safe center;
    align-items: safe center;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.brat div {
    text-transform: uppercase;
    /* text-decoration: underline; */
    font-size: 6em;
    border: 10px solid var(--black);
    padding: 0.125em 0.25em;
    display: inline-block;
    width: min-content;
    width: 3.698em;
}

.brat {
    display: grid;
    justify-content: safe center;
    align-items: safe center;
    min-height: 100vh;
    margin: 0;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--brat);
    /* color: var(--black); */
    /* color: var(--coffee); */
    filter: blur(0.11em);
}

.brat * {
    box-sizing: border-box;
}


